body {

}

.titulo-principal {
  padding-left: 100px;  /*margem a esquerda*/
  color: rgb(137, 6, 6);
}

#banner {
   width: 100%; /*tamanho da imagem*/
}

.principal {
   background: color #00ff3c; /*cor defundo */
   padding: 20px; /*margem da caixa*/
}

.titulo-centralizado {
  text-align: center; /* aliamento de texto*/
}

p {
    text-align: center; /*alinhamento de textos*/
}
#missao {
    font-size:20px; /*tamanho da fonte*/
}

em {
    color: rgb(125, 0, 241);
}

.beneficios {
    background-image:linear-gradient(rgb(209, 209, 209), gray) ; /*degrade da imagem*/
    padding: 20px;
}

ul{
    display: inline-block; /*forma duas linhas*/
    vertical-align: top; /*altura da lista*/ 
    width: 20%; /*tamanho*/
    margin-right: 15%; /*margem a direita*/
}

.itens {
    font-style: italic;
    font-size: 20px; /*tamanho da fonte*/
}

#beneficios {
    width: 60%;
}
